# Секрети та конфіги
.env

# Кеш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# База даних (краще не пушити її, щоб не було конфліктів)
sites.db

# Логи та тимчасові файли
Проект/
logs/
*.log
ph_raw_response.json
scrimba_boss_text.txt

# Frontend (Next.js / React)
referenced-chatgpt-conversation-this-is-an/
**/node_modules/
**/.next/
**/.npm-cache/
**/build/
**/dist/